* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey: #a7a3c2;
  --grey-light: #d5ceea;
  --grey-lighter: #f8f5ff;
  --black: #2a2c40;
  --main: #6116ff;

  --btnColor: #1f7a4d;
  --btnBorder: #24008c;
  --bg: #ffffff; /* Dark/Light Mode : */
  --btnBg: #f8f5ff; /* These custom properties are the colors that change */
  --formText: #000000; /* when we switch from one mode to another */
  --headerColor: #161827; /* we binded some JS to them to facilitate the switch */
}

body {
  font-family: "Epilogue", sans-serif;
}

/* Button */
.pp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 12px;
  margin: 0;
  margin-bottom: 16px;
  text-decoration: none;
  background: var(--btnColor);
  color: #fff;
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: all 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.pp-button > span {
  transition: transform 300ms ease;
  display: inline-block;
}

.pp-button:hover {
  box-shadow: 0px -4px 0px 0px var(--btnBorder) inset;
  -webkit-box-shadow: 0px -4px 0px 0px var(--btnBorder) inset;
  -moz-box-shadow: 0px -4px 0px 0px var(--btnBorder) inset;
}

.pp-container {
  position: relative;
  width: 400px;
  height: 630px; /* had to fix the height because object height auto not working */
  border: none;
  background-color: var(--bg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 24px 24px 16px;
  transition: background-color 250ms;
}

.pp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
}

.pp-footer {
  text-align: center;
  font-size: 11px;
  color: var(--grey);
}

.pp-footer a {
  color: var(--headerColor);
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pp-form-group {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

.pp-form-label {
  position: absolute;
  top: calc(50% - 7.5px);
  transition: all 0.15s ease-in;
  pointer-events: none;
  font-size: 15px;
  color: var(--grey);
}

.pp-form-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.pp-error {
  display: block;
  margin-top: 12px;
}

/* Video thumbnail file */
.file-video-thumbnail + .pp-form-filelabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: var(--btnBg);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: background-color 350ms;
}

.file-video-thumbnail:focus + .pp-form-filelabel,
.file-video-thumbnail + .pp-form-filelabel:hover {
}

.video-fileinput-img {
  position: absolute;
  z-index: 6;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 6px solid var(--btnBg);
}

.file-video-thumbnail:valid + .pp-form-filelabel .video-fileinput-img,
.file-video-thumbnail.loaded + .pp-form-filelabel .video-fileinput-img {
  display: block;
}

.file-video-dragarea {
  position: absolute;
  display: block;
  pointer-events: none;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 4px;
  border: 1px dashed var(--grey-light);
  transition: ease 250ms;
  z-index: 5;
}

.file-video-thumbnail + .pp-form-filelabel:hover .file-video-dragarea {
  border-color: var(--main);
}

.file-video-text {
  font-size: 13px;
  color: var(--grey);
  display: inline-block;
  font-weight: 600;
  transition: ease 250ms;
  opacity: 1;
}

.file-video-thumbnail + .pp-form-filelabel:hover .file-video-text {
  opacity: 0;
}

.file-video-illu {
  width: 68px;
  margin-bottom: 24px;
  transition: ease 250ms;
}

.file-video-thumbnail + .pp-form-filelabel:hover .file-video-illu {
  transform: scale(1.3) rotate(-5deg);
  transform-origin: 50% 50%;
}

.file-video-catpaw {
  transform: rotate(-45deg);
  position: absolute;
  right: -40%;
  bottom: -100%;
  transition: ease 250ms;
  pointer-events: none;
  opacity: 0;
}

.file-video-thumbnail + .pp-form-filelabel:hover .file-video-catpaw {
  right: 0px;
  bottom: -45%;
  opacity: 1;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row .pp-form-group {
  margin-bottom: 0;
}
